.normal-bg {
    background-image: url('../assets/image/normal_bg.png');
}

.fire-bg {
    background-image: url('../assets/image/fire_bg.png');
}

.water-bg {
    background-image: url('../assets/image/water_bg.png');
}

.electric-bg {
    background-image: url('../assets/image/electric_bg.png');
}

.grass-bg {
    background-image: url('../assets/image/grass_bg.png');
}

.ice-bg {
    background-image: url('../assets/image/ice_bg.png');
}

.fighting-bg {
    background-image: url('../assets/image/fighting_bg.png');
}

.poison-bg {
    background-image: url('../assets/image/poison_bg.png');
}

.ground-bg {
    background-image: url('../assets/image/ground_bg.png');
}

.flying-bg {
    background-image: url('../assets/image/flying_bg.png');
}

.psychic-bg {
    background-image: url('../assets/image/psychic_bg.png');
}

.bug-bg {
    background-image: url('../assets/image/bug_bg.png');
}

.rock-bg {
    background-image: url('../assets/image/rock_bg.png');
}

.ghost-bg {
    background-image: url('../assets/image/ghost_bg.png');
}

.dragon-bg {
    background-image: url('../assets/image/dragon_bg.png');
}

.dark-bg {
    background-image: url('../assets/image/dark_bg.png');
}

.steel-bg {
    background-image: url('../assets/image/steel_bg.png');
}

.fairy-bg {
    background-image: url('../assets/image/fairy_bg.png');
}